



<p class=""
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/live">Go-Live</a>
  <a class="navbar-brand" href="/gallery">Gallery</a>
</nav>