<nav class="navbar navbar-expand-lg navbar-dark bg-dark">Í
  <div class="btn-toolbar" style="padding:20px;">
    <a class="btn btn-secondary btn-lg mr-3 " href="/" role="button mr-3">Welcome</a>
    <a class="btn btn-secondary btn-lg mr-3" href="/live" role="button mr-3">Our Ceremony</a>
    <a class="btn btn-secondary btn-lg" href="/gallery" role="button mr-3">Memories - Images</a>
  </div>
</nav>