<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100%">
  <div class="btn-toolbar" style="padding:20px;"></div>
  <a class="btn btn-secondary btn-lg mr-3 " href="/" role="button mr-2">Welcome</a>
  <a class="btn btn-secondary btn-lg mr-3" href="/live" role="button mr-2">Ceremony</a>
  <a class="btn btn-secondary btn-lg mr-3" href="/gallery" role="button mr-2">Memories</a>
  </div>
</nav>