<div class="jumbotron text center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">
    Welcome
  </p>
</div>

<div id="leftbox">
  <img src="/public/imgs/inv_bangla.jpg" alt="Welcome" style="width:500px;height:600px;">
</div>

<div id="rightbox">
  <img src="/public/imgs/inv_eng.jpg" alt="Welcome" style="width:500px;height:600px;">
</div>