<link rel="stylesheet" href="/public/css/money.css">
<script>
    let data = '{{{data}}}';
    let decode = decodeURIComponent(data);
    let jsonData = JSON.parse(decode);
    console.clear();
    console.log(jsonData);
</script>

<br>
<br>
<br>
<p id="sys"> System message</p>
<br>
<br>

<button class="btn btn-standard" style="font-size:15px; width:50%" onclick="toggleshowExistingEntries()">
    <span style="font-size:10px">
        (toggle show / hide)
    </span> &nbsp; &nbsp;
    List Database Entries
</button>

<div id="EntriesDiv">
    <br>
    <table id="tableId">
        <tr>
            <th>
                <p>Sl</p>
            </th>
            <th>
                <p>Purpose</p>
            </th>
            <th>
                <p>Source</p>
            </th>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Value</p>
            </th>
            <th>
                <p>Income</p>
            </th>
            <th>
                <p>Gift</p>
            </th>
            <th>
                <p>Expense</p>
            </th>
            <th>
                <p>Debt</p>
            </th>
            <th>
                <p>Date</p>
            </th>
            <th>
                <p>Delete</p>
            </th>
        </tr>
    </table>
</div>

<br>
<br>
<button class="btn btn-standard" style="font-size:15px; width:50%" onclick="toggleShowAddForm();">
    <span style="font-size:10px">
        (toggle show / hide)
    </span> &nbsp; &nbsp;
    Add Entry to Database
</button>


<div id="AddDiv">
    <form action="/finance/add" method="post">
        <br>
        <table id="AddEntryTable">
            <tr>
                <td>Purpose</td>
                <td>
                    <input class='showInp' name='purpose' type="text" />
                </td>
            </tr>
            <tr>
                <td>Source</td>
                <td>
                    <input class='showInp' name='source' type="text" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input class='showInp' name='name' type="text" />
                </td>
            </tr>
            <tr>
                <td>Value</td>
                <td>
                    <input class='showInp' name='val' type="text" />
                </td>
            </tr>
            <tr>
                <td>Income</td>
                <td style="text-align:center">
                    <input class='showInp' name='income' type="checkbox" checked />
                </td>
            </tr>
            <tr>
                <td>Gift</td>
                <td style="text-align:center">
                    <input class='showInp' name='gift' type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>Expense</td>
                <td style="text-align:center">
                    <input class='showInp' name='expense' type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>Debt</td>
                <td style="text-align:center">
                    <input class='showInp' name='debt' type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>Add Entry</td>
                <td>
                    <button class="btn btn-standard" style="font-size:15px; width:100%">Submit to DB</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<script src="/public/js/costFunc.js"></script>