<link rel="stylesheet" href="/public/css/money.css">
<script>
    let data = '{{{data}}}';
    let decode = decodeURIComponent(data);
    let jsonData = JSON.parse(decode);
    console.clear();
    console.log(jsonData);
</script>

<br>
<br>
<br>
<p id="sys"> System message</p>
<br>
<br>

<button class="btn btn-standard" style="font-size:15px; width:100%" onclick="toggleshowExistingEntries()">
    <span style="font-size:10px">
        (toggle show / hide)
    </span> &nbsp; &nbsp;
    List Database Entries
</button>

<div id="EntriesDiv">
    <br>
    <table id="tableId" class="nstbl">
        <tr>
            <th>
                <p>Sl</p>
            </th>
            <th>
                <p>Purpose</p>
            </th>
            <th>
                <p>Source</p>
            </th>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Value</p>
            </th>
            <th>
                <p>Type</p>
            </th>
            <th>
                <p>Income On</p>
            </th>
            <th>
                <p>Spend On</p>
            </th>
            <th>
                <p>Entry Date</p>
            </th>
            <th>
                <p>Delete</p>
            </th>
        </tr>
    </table>
</div>

<br>
<br>
<button class="btn btn-standard" style="font-size:15px; width:100%" onclick="toggleShowAddForm();">
    <span style="font-size:10px">
        (toggle show / hide)
    </span> &nbsp; &nbsp;
    Add Entry to Database
</button>


<div id="AddDiv">
    <form action="/finance/add" method="post">
        <br>
        <table id="AddEntryTable" class="nstbl">
            <tr>
                <td>Purpose</td>
                <td>
                    <input class='showInp' name='purpose' type="text" />
                </td>
            </tr>
            <tr>
                <td>Source</td>
                <td>
                    <input class='showInp' name='source' type="text" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input class='showInp' name='name' type="text" />
                </td>
            </tr>
            <tr>
                <td>Value</td>
                <td>
                    <input class='showInp' name='val' type="text" />
                </td>
            </tr>
            <tr>
                <td>Type of Input</td>
                <td>
                    <select name="moneyType" id="selData" class="dropdown">
                        <option value='income'>income (monthly recurring income) </option>
                        <option value='gift'>gift (one-time income) </option>
                        <option value='debt'>debt (monthly recurring expenditure) </option>
                        <option value='expense'>expense (one-time expenditure) </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Income Date</td>
                <td>
                    <input type='date' name='incomeDate' />
                </td>
            </tr>
            <tr>
                <td>Expenditure Date</td>
                <td>
                    <input type='date' name='spendDate' />
                </td>
            </tr>
            <tr>
                <td>Add Entry</td>
                <td>
                    <button class="btn btn-standard" style="font-size:15px; width:100%">Submit to DB</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<br>
<br>
<button class="btn btn-standard" style="font-size:15px; width:100%" onclick="toggleShowComputeForm();">
    <span style="font-size:10px">
        (toggle show / hide)
    </span> &nbsp; &nbsp;
    Compute finances at date
</button>

<div id="costComputationDiv">
    <br>
    <br>
    <table id="computeTbl" class="nstbl">
        <tr>
            <td>Income Date</td>
            <td>
                <input type='date' id='queryDate' />
            </td>
        </tr>
        <tr>
            <td>Compute</td>
            <td>
                <button class="btn btn-standard" onclick="computeAtDate();" style="font-size:15px; width:100%">
                    Compute balance
                </button>
            </td>
        </tr>
    </table>
    <table id="solutionTable" class="nstbl">
    </table>
    <table id="downloadTable" class="nstbl">
    </table>
</div>


<script src="/public/js/costFunc.js"></script>
<script src="/public/js/FileSaver.min.js"></script>
<script src="/public/js/costComputation.js"></script>