<div class="jumbotron">
  <div>
    <table width="100%" border="0" cellpadding="5">
      <tr>
        <td align="center" valign="center">
          <img src="/public/imgs/inv_bangla.jpg" alt="Welcome" style="width:100%;height:auto;">
          <br />
        </td>
        <td align="center" valign="center">
        </td>
        <td align="center" valign="center">
          <img src="/public/imgs/inv_eng2.jpg" alt="Welcome" style="width:100%;height:auto;">
          <br />
        </td>
      </tr>
    </table>
  </div>
</div>