<div class="jumbotron">
  <div>
    <img src="/public/imgs/inv_bangla.jpg" alt="Welcome" style="width:100%;height:auto;">
    <img src="/public/imgs/inv_eng2.jpg" alt="Welcome" style="width:100%;height:auto;">
  </div>
</div>