<div class="jumbotron">
  <h3 class="display-4">a socially distanced ceremony </h3>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZeHacsCb5eE" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    Live Video
  </div>
</div>