<div>
  <iframe width="100" height="auto" src="https://www.youtube.com/embed/ax3NyGxDpko" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br />
  Live Video
</div>